<h3>New Person</h3>

<form #newPersonForm="ngForm" (ngSubmit)="onFormSubmit(newPersonForm)">
  <div class="form-group">
    <label for="name">Name</label>
    <input ngModel required type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input ngModel name="age" required type="number" class="form-control" id="age" placeholder="Enter Age">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select ngModel name="gender" required class="form-control" id="gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>
  <div class="form-group">
    <label for="mobno">Mobile Number</label>
    <input ngModel name="mobno" required type="number" class="form-control" id="mobno" placeholder="Enter Mobile Number">
  </div>
  <button [disabled]="!newPersonForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
</form>